# Base Url for the Mastodon instance
MASTODON_BASE_URL=

# Access token for the Mastodon instance
# Generate it on the Preferences / Development page with `write:statuses` scope
MASTODON_ACCESS_TOKEN=
