# Level of logging
# One of pino's log level: https://getpino.io/#/docs/api?id=level-string
# Falls back to pino's default level (info) when not defined
LOG_LEVEL='debug'

# File path for log output
# Turns off file output when not defined
LOG_FILE_PATH='./debug.log'

# Toggle the pretty log printing
LOG_PRETTY=true

# Base Url for the Mastodon instance
MASTODON_BASE_URL=

# Access token for the Mastodon instance
# Generate it on the Preferences / Development page with `write:statuses` scope
MASTODON_ACCESS_TOKEN=

# Human readable name of the source (for logging, displaying)
SOURCE_NAME=
# RSS feed Url for the source
SOURCE_URL=
# Index of the latest item in the returned RSS feed
SOURCE_ITEM_INDEX=

# Hashtag to add to the post
POST_HASHTAG=
# Language of the post
# Also used for date formatting
# Falls back to 'en-GB' when not defined
POST_LANGUAGE='en-GB'
# Visibility of the post
# Value can be 'public', 'unlisted', 'private', or 'direct'
# Falls back to 'public' when not defined
POST_VISIBILITY='public'

# Number of times to retry a request on a failure
# Falls back to 2 when not defined
RETRY_COUNT=2
# Time between two request tries in milliseconds
# Falls back to 20000 (20 seconds) when not defined
RETRY_DELAY=20000
